<div id="templateContainer">
<div id="templateHeader">

<div>Remote Meetup News #001 - may 28th 2016</div>
</div>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h1>How is it going with Remote Meetups?</h1>

<p>It's been a while that you have logged in our Slack Channel. I would like to just to say how we are going and the latest updates!</p>

<p>Doing a Remote Meetup is a little bit difficult, because users report don't have the same feeling as a real meetup. For this reason, We were looking for some tools for helping us to do that. Here, a big thanks to Carlisia Campos and William Kennedy, <a href="http://golangbridge.org">GoBridge</a> in general, people from our Go branch who have found a Nice tool: <a href="https://www.bigmarker.com">BigMarker</a>.</p>

<p>BigMarker is a paid tool, we got a sponsorship from <a href="https://www.hired.com">Hired.com</a> which helped us to pay this Main Channel for Remote Meetup. <a href="https://www.bigmarker.com/remote-meetup">Channel is here!</a> Using this, the attendees interaction will be better. If you want, you can subscribe to this channel and get the latest meetups! We have a paid account up to 100 users.</p>

<p>Go Branch got a sponsorship from Compose.io, which helped them to pay <a href="https://www.bigmarker.com/remote-meetup-go">their own channel</a>. It means, all the Remote Meetups from Go will be centralised in a single channel and not the Main Channel. BTW, if you want to learn Go, it's time! A lot of awesome upcoming meetups in the next weeks!</p>

<h2>Helping Meetups around the World</h2>

<p>Another idea we got on-the-fly was helping meetups. We are partner of two Meetups around the world: ParisRb - the biggest meetup in Europe. Green Ruby - A cool meetup in Taipei, Taiwan! These meetups can use or channel and livestream their meetups.</p>

<h2>Elm Remote Meetup</h2>

<p><a href="https://www.dailydrip.com/">DailyDrip</a> is <a href="https://www.dailydrip.com/blog/organizing-a-remote-meetup-for-elm">planning</a> to create a Elm Remote Meetup. We are also partner with DailyDrip. They will be using our Channel and using Remote Meetup to do that!</p>

</div>

<hr>

<h2>What we have done so far</h2>

<div class="link"><a href="https://www.youtube.com/watch?v=sBkN513ShkQ">Rust for Rubyist</a></div>
<div class="comment">by Filipe Costa</div>

<div class="link"><a href="https://www.youtube.com/watch?v=Kp5EHh-VEb0">Building APIs on Rails 5 with AMS</a></div>
<div class="comment">by João Moura</div>

<div class="link"><a href="https://www.youtube.com/watch?v=SCzFGmM-Sto">Trailblazer with Nick Sutterer</a></div>
<div class="comment">Interview with Nick Sutterer</div>

<div class="link"><a href="https://www.youtube.com/watch?v=fcgS9epbptY">Introduction to phoenix channels</a></div>
<div class="comment">by Iuri Fernandes</div>

<div class="link"><a href="https://youtu.be/idifdePbVGM">ChatOps - When communication matters</a></div>
<div class="comment">by Rajat Gupta</div>

<div class="link"><a href="https://www.youtube.com/watch?v=2pEjxcNDsMA">An Interview with Rafael França</a></div>
<div class="comment">Rails Core Commiter</div>

<div class="link"><a href="https://www.youtube.com/watch?v=bx3mOTGRvs4">Introduction to Functional Reactive Programming with Elm</a></div>
<div class="comment">by Isaac Shapira</div>


<hr>

<h2>Upcoming Meetups</h2>

<h3>Go</h3>



<div class="link"><a href="https://www.bigmarker.com/remote-meetup-go/Tutorial-My-First-App-with-Go">My first App with Go</a></div>

<div class="link"><a href="https://www.bigmarker.com/remote-meetup-go/Shipping-Go-Applications-with-Containers">Shipping Go Applications with Containers</a></div>

<div class="link"><a href="https://www.bigmarker.com/remote-meetup-go/Go-at-Dropbox">Go at Dropbox</a></div>

<h3>Ruby</h3>



<div class="link"><a href="https://www.bigmarker.com/remote-meetup/Green-Ruby-Meetup-001">Green Ruby Meetup</a></div>

<div class="link"><a href="https://www.bigmarker.com/remote-meetup/ParisRb-June-7">ParisRb - 7 June</a></div>

<div class="link"><a href="https://www.bigmarker.com/remote-meetup/An-interview-with-Mike-Perham-Sidekiq-creator">An interview with Mike Perham - Sidekiq creator</a></div>

<h3>Elm</h3>
<div>Stay tunned on #organizers-elm channel to see the latest news!</div>


<hr>

<div class="baseline"><p>We are really happy with those news! Hope you are also too! We still need help for organising the last meetups. If you want to help, join our slack and use the channel #organizers!</p>

<p>To complete, I would like to say a big thanks for everyone, specially: Iuri Fernandes, Carlisia Campos, William Kennedy, Filipe Costa, Narayan Chowdhury, Tad Hosford, Sebastian Sogamoso, Mose, João Moura, Lucas Amaral, André Mota and all the persons for our Slack channel!</p>
</div>
<h2>Latest from our blog</h2>

<div class="link"><a href="https://medium.com/remote-meetup/why-we-need-remote-meetups-45f835658876#.90ucn2t6q">Why We need Remote Meetup</a></div>

<div class="link"><a href="https://medium.com/remote-meetup/remotemeetup-com-27889b2510e7#.n6jsuzh6k">Launching RemoteMeetup.com</a></div>

<div class="link"><a href="https://medium.com/remote-meetup/go-remote-meetup-thanks-gobridge-22aa4f22d7a2#.mjn3bwq1t">Go Remote Meetup — Thanks, GoBridge!</a></div>

<div class="link"><a href="https://medium.com/remote-meetup/scaling-remotemeetup-thanks-hired-com-b46ded1a2306#.m8q6nddhr">Scaling RemoteMeetup — Thanks, Hired.com!</a></div>


<div class="baseline"><p>Franzé Jr.
Founder of Remote Meetup</p>
</div>

</div>
</div>
