<div id="templateContainer">
<div id="templateHeader">

<h1>Remote Meetup News #001</h1>
<div>may 28th 2016</div>
</div>
</div>
<div id="templateBody">

<div>
<div class="baseline">
<h2>blah</h2>

<br>
<br>
</div>

<hr>

<h2>What we have done so far</h2>

<div class="baseline"></div>
<div class="link"><a href=""></a></div>
<div class="comment"></div>


<hr>

<h2>Upcoming Meetups</h2>

<h3>Go</h3>



<div class="baseline">My first App with Go</div>
<div class="link"><a href="https://www.bigmarker.com/remote-meetup-go/Tutorial-My-First-App-with-Go">My first App with Go</a></div>



<h3>Ruby</h3>



<div class="baseline">Green Ruby Meetup</div>
<div class="link"><a href="https://www.bigmarker.com/remote-meetup/Green-Ruby-Meetup-001">Green Ruby Meetup</a></div>



<h3>Elm</h3>
<div>Stay tunned on #organizers-elm channel to see the latest news!</div>



<hr>

<div class="baseline"><p>We are really happy with those news! Hope you are also too! We still need help for organising the last meetups. If you want to help, join our slack and use the channel #organizers!
To complete, I would like to say a big thanks for everyone, specially: Iuri Fernandes, Carlisia Campos, William Kennedy, Filipe Costa, Narayan Chowdhury, Tad Hosford, Sebastian Sogamoso, Mose, João Moura, Lucas Amaral, André Mota and all the persons for our Slack channel!</p>
</div>


</div>
</div>
